<div style="width:768px; margin:auto;text-align: center">
<h1>Angular Push Notification</h1>
    <mat-tab-group  mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" >
        <mat-tab label="Client">
            <h5>Press the button to subscribe to this page</h5>
            <button mat-stroked-button color="accent" (click)="subscribe()" *ngIf="!buttonToggle"
                    style="margin-bottom:5px;">Subscribe</button>
            <button mat-stroked-button color="primary"  *ngIf="buttonToggle"
                    style="margin-bottom:5px;">Thank You for Subscribing!</button>
        </mat-tab>
        <mat-tab label="Admin">
            <h5>Press the button to send festive notification to the subscribed users</h5>
            <button mat-stroked-button color="primary" (click)="sendNot()"
                    style="margin-bottom:5px;">Send Notification</button>
        </mat-tab>
    </mat-tab-group>
</div>